{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/mirrors') }}
{% endblock %}

{% block title %}Mirror-Status{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
        <h1 class="mb-4">Mirror-Status</h1>
        <table id="mirrors" class="table table-striped table-bordered table-sm" width="100%"
               data-ajax-url="{{ path('app_mirrorstatus_datatables') }}">
            <thead>
            <tr>
                <th>URL</th>
                <th>Land</th>
                <th>&empty;&nbsp;Antwortzeit</th>
                <th>&empty;&nbsp;Verzögerung</th>
                <th>Aktualisierung</th>
                <th>ISOs</th>
                <th>IPv4</th>
                <th>IPv6</th>
                <th>aktiv</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </main>
{% endblock %}
