{% extends 'base.html.twig' %}

{% block title %}Fehler{% endblock %}

{% block robots %}noindex{% endblock %}
{% block canonical %}{% endblock %}

{% block body %}
    <div id="warning">Seite wurde nicht gefunden</div>
{% endblock %}
