{% extends 'base.html.twig' %}

{% block title %}{{ status_text }}{% endblock %}
{% block canonical %}{% endblock %}

{% block body %}
    <div id="error">
        <h2>{{ status_text }}</h2>
        <p>Tut mir Leid, etwas lief schief.</p>
    </div>
{% endblock %}
