root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.{json,js,yml}]
indent_size = 2

[{*.php,app/config/*.yml}]
indent_size = 4
