# IDE/OS specific
.idea
.vscode
.DS_Store

# application
/archded.db*
/dist
/node_modules
*_templ.go
/internal/ui/components/icons/*
!/internal/ui/components/icons/.gitkeep
/tmp/*
!/tmp/.gitkeep
/archded
/.assets-rebuilt

# old Symfony directories/files
.cache
api/*
app/*
