parameters:
    env(PACKAGES_MIRROR): 'https://geo.mirror.pkgbuild.com/'
    app.packages.mirror: '%env(PACKAGES_MIRROR)%'
    app.packages.gitlab_url: 'https://gitlab.archlinux.org/archlinux/packaging/packages'
    app.packages.repositories:
        core: ['x86_64']
        core-testing: ['x86_64']
        extra: ['x86_64']
        extra-testing: ['x86_64']
        multilib: ['x86_64']
        multilib-testing: ['x86_64']
    app.packages.default_architecture: 'x86_64'
    app.packages.packageStatisticsApiUrl: 'https://pkgstats.archlinux.de/api/packages'
    app.packages.appStreamDataBaseUrl: 'https://sources.archlinux.org/other/packages/archlinux-appstream-data/'
    app.packages.appStreamDataFile: 'Components-x86_64.xml.gz'
    app.mirrors.status: 'https://archlinux.org/mirrors/status/json/'
    env(DEFAULT_MIRROR): '%app.packages.mirror%'
    app.mirrors.default: '%env(DEFAULT_MIRROR)%'
    app.mirrors.country: 'DE'
    app.mirrors.archive: 'https://archive.archlinux.org/'
    app.mirrors.mirrorStatisticsApiUrl: 'https://pkgstats.archlinux.de/api/mirrors'
    app.news.flarum_url: 'https://forum.archlinux.de'
    app.news.flarum_tag: 'neuigkeiten'
    app.releng.releases: 'https://archlinux.org/releng/releases/json/'
