services:
  api:
    build: php
    working_dir: /app/api
    environment:
      - HOME=/tmp
    user: "${UID}:${GID}"
    userns_mode: host
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    volumes:
      - ../api:/app/api
      - ../.cache/composer:/tmp/.composer/cache
    tmpfs:
      - /tmp
    depends_on:
      - mariadb
      - opensearch

  app:
    build: node
    working_dir: /app/app
    environment:
      - HOME=/tmp
      - NODE_OPTIONS=--no-experimental-webstorage
    command: pnpm run serve
    user: "${UID}:${GID}"
    userns_mode: host
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    volumes:
      - ../app:/app/app
      - ../.cache/node:/tmp/.cache/node
    tmpfs:
      - /tmp

  nginx:
    build:
      context: nginx
    ports:
      - "${PORT}:8080"
      - "${TEST_PORT}:8081"
    volumes:
      - ../app/dist:/app/app/dist:ro
      - ../api/public:/app/api/public:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/include:/etc/nginx/include:ro
    tmpfs:
      - /tmp
    depends_on:
      - api
      - app

  mariadb:
    image: mariadb:12.0
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    tmpfs:
      - /tmp
      - /var/lib/mysql

  phpmyadmin:
    profiles: ["dev"]
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_HOST=mariadb
      - PMA_USER=root
      - PMA_PASSWORD=
    ports:
      - "${PHPMYADMIN_PORT}:80"
    tmpfs:
      - /tmp
    depends_on:
      - mariadb

  opensearch:
    image: opensearchproject/opensearch:3
    environment:
      - "discovery.type=single-node"
      - "plugins.security.disabled=true"
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_INITIAL_ADMIN_PASSWORD}"

  wait:
    image: dokku/wait
