@import "@/css/_bootstrap.scss";
@import "~bootstrap";

.navbar-border-brand {
  border-bottom: 0.313rem solid $primary;
}

a.navbar-brand:focus,
button.navbar-toggler:focus,
a.nav-link:focus {
  outline: 0; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}
