.navbar-border-brand {
    border-bottom: 0.3125rem solid $primary;
}

// increase tap size for mobile
@include media-breakpoint-down(md) {
    .link-list li {
        margin-bottom: $spacer;
    }
}

.table-fixed {
    table-layout: fixed;
}

@include media-breakpoint-up(sm) {
    .text-sm-nowrap {
        white-space: nowrap !important;
    }
}

.package-popularity .bi {
    width: 1em;
    height: 1em;
    vertical-align: unset;
    margin-top: 0.25em;
}

@media (prefers-color-scheme: dark) {
    .btn.btn-outline-secondary {
        --bs-btn-color: var(--bs-light);
        --bs-btn-border-color: var(--bs-gray-600);
    }
}
