parameters:
	level: max
	symfony:
		container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
	paths:
		- src
		- tests
		- public
		- config
		- bin
		- migrations
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		-
			message: '#^Unable to resolve the template type CallbackInput in call to method PHPUnit\\Framework\\Assert::callback\(\)#'
			path: tests
